.hamsa001{ background-color: black;
    
    
}
.hamsa01{
    width:100%;
    
}
.footerText{color: aqua;
    

}
.hamsa02{
    
    color:aqua;
}

.hamsa03{
    font-size: 30px;
    color: aqua;
    
}

.hamsao4{
   width: 100%;

}